.recovery-password,
.recovery-password * {
  box-sizing: border-box;
}
.recovery-password {
  background: var(--gris-tabla, #fafafa);
  padding: 184px 551px 184px 551px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.frame-1547755088 {
  background: var(--colores-blanco, #ffffff);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-1547755087 {
  padding: 118px 117px 118px 117px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.logo-color-1-1 {
  flex-shrink: 0;
  width: 124px;
  height: 134px;
  position: relative;
  object-fit: cover;
}
.forgot-password {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.don-t-worry-we-can-help-you-out-if-you-still-remember-your-email-address-you-can-quickly-reset-your-password-just-input-that-information-in-the-fields-below-and-click-on-the-button-this-will-send-you-a-new-email-that-will-link-you-to-the-password-change-website {
  color: #404040;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-1547755111 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-42024 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gris-eye, #94938d);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 49px;
  position: relative;
}
.email-address {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 13px;
  top: 13px;
}
.frame-1547755110 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  padding: 11px 80px 11px 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.request-password-change {
  color: var(--colores-blanco, #ffffff);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.frame-1547755080 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.don-t-have-an-account {
  color: var(--colores-negro, #292a2b);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.sign-up {
  color: var(--celeste-eye, #51a69f);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
