.store-modal-new-employee,
.store-modal-new-employee * {
  box-sizing: border-box;
}
.store-modal-new-employee {
  background: #fafafa;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-2087326159 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-2087326157 {
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nuevo-empleado {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755213 {
  display: flex;
  flex-direction: row;
  gap: 219px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1547755211 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326154 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nombre {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
}
.direcci-n {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.store {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pin {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1547755212 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.tel-fono {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ciudad {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.email {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.boton-new {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  padding: 13px 32px 13px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 423px;
  height: 46px;
  position: relative;
  overflow: hidden;
}
.sell {
  color: #ffffff;
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
