.frame-2087326024,
.frame-2087326024 * {
  box-sizing: border-box;
}
.frame-2087326024 {
  background: var(--gris-tabla, #fafafa);
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sidebar {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  width: 380px;
  height: 1117px;
  position: relative;
  box-shadow: var(
    --1-box-shadow,
    0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.07),
    0px 6.65px 5.32px 0px rgba(141, 145, 160, 0.05),
    0px 12.52px 10.02px 0px rgba(141, 145, 160, 0.04),
    0px 22.34px 17.87px 0px rgba(141, 145, 160, 0.04),
    0px 41.78px 33.42px 0px rgba(141, 145, 160, 0.03),
    0px 100px 80px 0px rgba(141, 145, 160, 0.02)
  );
  overflow: hidden;
}
.rectangle-6 {
  background: var(--blanco-eye, #fcfaf0);
  border-radius: 4px;
  width: 380px;
  height: 86px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.frame-1547755258 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 46px;
  position: relative;
}
.unsplash-d-1-u-pki-fd-04-a {
  border-radius: 600px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  object-fit: cover;
}
.frame-15477552582 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 142px;
  height: 45px;
  position: relative;
}
.user {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.user-user-com {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.more-horizontal {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.logo-color-2-2 {
  width: 195px;
  height: 42px;
  position: absolute;
  left: 30px;
  top: 1045px;
  object-fit: cover;
}
.frame-1547755218 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 186px;
}
.vector {
  flex-shrink: 0;
  width: 22px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.editor {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-1547755219 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 678px;
}
.vector2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.clientes {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-1547755220 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 130px;
}
.vector3 {
  flex-shrink: 0;
  width: 18px;
  height: 22px;
  position: relative;
  overflow: visible;
}
.admin {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.stores {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  position: absolute;
  left: 15px;
  top: 227px;
}
.auto-layout-horizontal {
  background: #fbfaf2;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--verde-eye, #77971a);
  border-width: 1.5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  position: relative;
}
.frame-1547755215 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector4 {
  flex-shrink: 0;
  width: 18px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.tiendas {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-1547755214 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 298px;
}
.vector5 {
  flex-shrink: 0;
  width: 19px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.tienda-1 {
  color: var(--celeste-eye, #51a69f);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.frame-1547755216 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 539px;
}
.vector6 {
  flex-shrink: 0;
  width: 19px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.tienda-2 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.frame-1547755217 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 582px;
}
.vector7 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.nueva-tienda {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.frame-15477552152 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 625px;
}
.vector8 {
  flex-shrink: 0;
  width: 19.45px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ajustes {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.frame-1547755111 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 90px;
  top: 336px;
}
.frame-1547755115 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-15477552142 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-dashboard-outline {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.dashboard {
  color: var(--verde-eye, #77971a);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-15477552162 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector9 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.pedidos {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-15477552182 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector10 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.clientes2 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-15477552192 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector11 {
  flex-shrink: 0;
  width: 20px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.productos {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.vector12 {
  flex-shrink: 0;
  width: 19.45px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ajustes2 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-2087326023 {
  padding: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-2087326017 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.total-balance {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.wallet-amount {
  background: var(--colores-blanco, #ffffff);
  border-radius: 155px;
  padding: 99px 49px 102px 49px;
  width: 364px;
  height: 282px;
  position: absolute;
  right: -124px;
  top: calc(50% - 141.33px);
  overflow: hidden;
}
.frame-2087326009 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 31px;
  top: 72px;
}
._200-58 {
  text-align: left;
  position: relative;
}
._200-58-span {
  color: var(--celeste-eye, #51a69f);
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
._200-58-span2 {
  color: var(--blanco-eye, #fcfaf0);
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
._200-58-span3 {
  color: var(--celeste-eye, #51a69f);
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
._200-58-span4 {
  color: var(--gris-eye, #94938d);
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
}
.wallets-amount {
  color: var(--celeste-eye, #51a69f);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  position: relative;
}
.frame-1547755252 {
  background: #f9fbff;
  border-radius: 10px;
  padding: 10px 13px 10px 13px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 74px;
  top: 212px;
}
.filter-by-product {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.filter-by-product-span {
  color: var(--gris-eye, #94938d);
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.filter-by-product-span2 {
  color: var(--negro-eye, #2b2d22);
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.chevron-down-1 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 157.34px;
  position: absolute;
  left: 36px;
  top: calc(50% - 71.33px);
}
.total-ballance {
  color: var(--colores-blanco, #ffffff);
  text-align: left;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.latest-transaction {
  flex-shrink: 0;
  width: 246.77px;
  height: 52.53px;
  position: static;
}
.frame-1547755351 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 104.82px;
}
._28-55 {
  color: var(--colores-blanco, #ffffff);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  width: 123px;
  height: 26px;
}
.arrow {
  flex-shrink: 0;
  width: 38px;
  height: 26px;
  position: relative;
  overflow: visible;
}
.last-transaction {
  color: var(--colores-blanco, #ffffff);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 138.82px;
  width: 246.77px;
  height: 18.53px;
}
.frame-2087326004 {
  background: #ffffff;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.card-info {
  flex-shrink: 0;
  width: 81px;
  height: 28px;
  position: static;
}
.card-title {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 15px;
}
.frame-2087326003 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326002 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 21.68px;
  height: 16.97px;
}
._5-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 21.68px;
  height: 16.97px;
}
._4-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 21.68px;
  height: 16.97px;
}
._3-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 21.68px;
  height: 16.97px;
}
._2-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 21.68px;
  height: 16.97px;
}
._1-k {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 17.97px;
}
._0 {
  color: var(--gris-eye, #94938d);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 11.41px;
  height: 16.97px;
}
.frame-2087325990 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-1 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 145.14px;
  position: absolute;
  left: 12.73px;
  top: 0px;
}
.fill-chart {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 16.39px;
  position: absolute;
  left: 12.73px;
  top: 148.28px;
}
.jan {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 31.95px;
}
.frame-2087325991 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-2 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.rectangle-4 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 110.82px;
  position: absolute;
  left: 12.73px;
  top: 0px;
}
.fill-chart2 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 50.71px;
  position: absolute;
  left: 12.73px;
  top: 113.96px;
}
.feb {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 31.95px;
}
.frame-2087325992 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-3 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart2 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 89.2px;
  position: absolute;
  left: 14.72px;
  top: 0px;
}
.fill-chart3 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 72.33px;
  position: absolute;
  left: 14.72px;
  top: 92.34px;
}
.mar {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 35.95px;
}
.frame-2087325993 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-4 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.apr {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 31.95px;
}
.frame-2087325994 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-5 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.66px;
  position: static;
}
.empty-chart3 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 113.72px;
  position: absolute;
  left: 14.23px;
  top: 0px;
}
.fill-chart4 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 47.81px;
  position: absolute;
  left: 14.23px;
  top: 116.85px;
}
.may {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 34.95px;
}
.frame-2087325995 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-6 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart4 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 89.2px;
  position: absolute;
  left: 12.73px;
  top: 0px;
}
.fill-chart5 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 72.33px;
  position: absolute;
  left: 12.73px;
  top: 92.34px;
}
.jun {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 31.95px;
}
.frame-2087325996 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-7 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.66px;
  position: static;
}
.empty-chart5 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 124.87px;
  position: absolute;
  left: 11.73px;
  top: 0px;
}
.fill-chart6 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 36.66px;
  position: absolute;
  left: 11.73px;
  top: 128.01px;
}
.jul {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 29.96px;
}
.frame-2087325997 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-8 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart6 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 141.09px;
  position: absolute;
  left: 14.23px;
  top: 0px;
}
.fill-chart7 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 20.44px;
  position: absolute;
  left: 14.23px;
  top: 144.22px;
}
.aug {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 34.95px;
}
.frame-2087325998 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-9 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart7 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 110.82px;
  position: absolute;
  left: 12.73px;
  top: 0px;
}
.sep {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 31.95px;
}
.frame-2087325999 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-10 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart8 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 145.14px;
  position: absolute;
  left: 14.72px;
  top: 0px;
}
.fill-chart8 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 16.39px;
  position: absolute;
  left: 14.72px;
  top: 148.28px;
}
.oct {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 35.95px;
}
.frame-2087326000 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-11 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart9 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 110.82px;
  position: absolute;
  left: 14.23px;
  top: 0px;
}
.fill-chart9 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 50.71px;
  position: absolute;
  left: 14.23px;
  top: 113.96px;
}
.nov {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 34.95px;
}
.frame-2087326001 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bar-12 {
  flex-shrink: 0;
  width: 6.5px;
  height: 164.67px;
  position: static;
}
.empty-chart10 {
  background: var(--neutral-colors-500, #e5e5ef);
  border-radius: 3px;
  width: 6.5px;
  height: 89.2px;
  position: absolute;
  left: 13.73px;
  top: 0px;
}
.fill-chart10 {
  background: var(--celeste-eye, #51a69f);
  border-radius: 3px;
  width: 6.5px;
  height: 72.33px;
  position: absolute;
  left: 13.73px;
  top: 92.34px;
}
.dec {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 33.95px;
}
.frame-2087326022 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326021 {
  background: #ffffff;
  border-radius: 4px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sells {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame-2087326020 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.group-25 {
  flex-shrink: 0;
  width: 143px;
  height: 38px;
  position: static;
}
.rectangle-31 {
  background: #f9fbff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 143px;
  height: 38px;
  position: absolute;
  left: 216px;
  top: 0px;
}
.frame-15477552522 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 229px;
  top: 10px;
}
.sort-by-newest {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.sort-by-newest-span {
  color: var(--gris-eye, #94938d);
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.sort-by-newest-span2 {
  color: var(--negro-eye, #2b2d22);
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.chevron-down-12 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.boton-new {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  padding: 13px 32px 13px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 151px;
  height: 37px;
  position: relative;
  overflow: hidden;
}
.sell {
  color: #ffffff;
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.transactions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 527px;
  height: 635px;
  position: relative;
}
.row {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-40 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-2 {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: static;
}
.ellipse-1 {
  background: #dcf5e8;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.arrow-left-short {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 33px;
  top: 9.5px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  overflow: hidden;
}
.vector13 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.frame-38 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.custom-cup-eye-1 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
._000158-adam-tree {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-42 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 43px;
  position: relative;
}
._35-00 {
  color: #4fd18b;
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 269px;
}
.vector14 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.frame-422 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 43px;
  position: relative;
}
._35-002 {
  color: #4fd18b;
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.vector15 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.vector16 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.vector17 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.group-3 {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: static;
}
.ellipse-12 {
  background: #f5dcdc;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.vector18 {
  width: 23.81%;
  height: 42.86%;
  position: absolute;
  right: 38.1%;
  left: 38.1%;
  bottom: 27.86%;
  top: 29.29%;
  overflow: visible;
}
.devolution {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.error-in-the-system {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-402 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 43px;
  position: relative;
}
._35-003 {
  color: #d14f4f;
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.chart-transactions {
  background: var(--colores-blanco, #ffffff);
  border-radius: 4px;
  padding: 24px 25px 24px 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.employees {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.rectangle-312 {
  background: #f9fbff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 143px;
  height: 38px;
  position: absolute;
  left: 152px;
  top: 0px;
}
.frame-15477552523 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 165px;
  top: 10px;
}
.sort-by-newest-span3 {
  color: var(--gris-eye, #94938d);
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.sort-by-newest-span4 {
  color: var(--negro-eye, #2b2d22);
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.chevron-down-13 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.transactions2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ellipse-13 {
  background: linear-gradient(to left, #94938d, #94938d);
  border-radius: 50%;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
}
.jodi-diaz {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.sales-store-1 {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-292 {
  background: rgba(22, 192, 152, 0.38);
  border-radius: 4px;
  border-style: solid;
  border-color: #00b087;
  border-width: 1px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  position: relative;
}
.active {
  color: #008767;
  text-align: left;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.since-07-23 {
  color: var(--negro-eye, #2b2d22);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.ellipse-14 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
}
.jane-doe {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.since-02-22 {
  color: var(--negro-eye, #2b2d22);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.john-doe {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.manager-store-1 {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.since-01-22 {
  color: var(--negro-eye, #2b2d22);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-392 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.juan-perez {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.sales-store-2 {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.since-07-20 {
  color: var(--negro-eye, #2b2d22);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.luis-doe {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.laura-doe {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
