.store-modal-new-store,
.store-modal-new-store * {
  box-sizing: border-box;
}
.store-modal-new-store {
  background: var(--gris-tabla, #fafafa);
  border-radius: 4px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 767px;
  position: relative;
  overflow: hidden;
}
.frame-2087326096 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-2087326127 {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.chart-transactions {
  background: var(--colores-blanco, #ffffff);
  border-radius: 4px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326117 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-store {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-2087326111 {
  display: flex;
  flex-direction: row;
  gap: 97px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326109 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  height: 21px;
  position: relative;
}
.name2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  padding: 11px 15px 11px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.store-1 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.address {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._142-light-st {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.manager {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.morty-smith {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.created-date {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-02-2022 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.last-modificated {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  padding: 11px 15px 11px 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326100 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._10-02-2023 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-15-hs {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2087326110 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 468px;
  position: relative;
}
.input3 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  padding: 11px 15px 11px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326102 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.invoices {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  flex-shrink: 0;
  width: 8.59px;
  height: 16.23px;
  position: relative;
  overflow: visible;
}
.frame-2087326103 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.orders {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon2 {
  flex-shrink: 0;
  width: 8.59px;
  height: 16.23px;
  position: relative;
  overflow: visible;
}
.frame-2087326104 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.users {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon3 {
  flex-shrink: 0;
  width: 8.59px;
  height: 16.23px;
  position: relative;
  overflow: visible;
}
.frame-2087326105 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.status {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-7046 {
  background: #00b087;
  border-radius: 15.5px;
  flex-shrink: 0;
  width: 33px;
  height: 15px;
  position: relative;
}
.span-before {
  background: #cacaca;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 17px;
  top: -3.5px;
}
.boton-new {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  padding: 13px 32px 13px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 59px;
  position: relative;
  overflow: hidden;
}
.sell {
  color: #ffffff;
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
