.users-list-products,
.users-list-products * {
  box-sizing: border-box;
}
.users-list-products {
  background: var(--gris-tabla, #fafafa);
  flex-shrink: 0;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.sidebar {
  background: #ffffff;
  border-radius: 4px;
  width: 380px;
  height: 1117px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: var(
    --1-box-shadow,
    0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.07),
    0px 6.65px 5.32px 0px rgba(141, 145, 160, 0.05),
    0px 12.52px 10.02px 0px rgba(141, 145, 160, 0.04),
    0px 22.34px 17.87px 0px rgba(141, 145, 160, 0.04),
    0px 41.78px 33.42px 0px rgba(141, 145, 160, 0.03),
    0px 100px 80px 0px rgba(141, 145, 160, 0.02)
  );
  overflow: hidden;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 207px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 186px;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1547755216 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 22px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.editor {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-1547755215 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector2 {
  flex-shrink: 0;
  width: 18px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.tiendas {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-1547755217 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.clientes {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.rectangle-6 {
  background: var(--blanco-eye, #fcfaf0);
  border-radius: 4px;
  width: 380px;
  height: 86px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.frame-1547755258 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 46px;
  position: relative;
}
.unsplash-d-1-u-pki-fd-04-a {
  border-radius: 600px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  object-fit: cover;
}
.frame-15477552582 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 142px;
  height: 45px;
  position: relative;
}
.user {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.user-user-com {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.more-horizontal {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.logo-color-2-2 {
  width: 195px;
  height: 42px;
  position: absolute;
  left: 30px;
  top: 1045px;
  object-fit: cover;
}
.frame-1547755214 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 130px;
}
.vector4 {
  flex-shrink: 0;
  width: 18px;
  height: 22px;
  position: relative;
  overflow: visible;
}
.admin {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-2087326088 {
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1288px;
  height: 972px;
  position: absolute;
  left: 410px;
  top: 30px;
}
.frame-2087326077 {
  display: flex;
  flex-direction: row;
  gap: 881px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.user-setting {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.boton-new {
  background: var(--celeste-eye, #51a69f);
  border-radius: 4px;
  padding: 13px 32px 13px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 188px;
  height: 59px;
  position: relative;
  overflow: hidden;
}
.sell {
  color: #ffffff;
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.frame-2087326076 {
  display: flex;
  flex-direction: row;
  gap: 105px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1547755336 {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.profile {
  flex-shrink: 0;
  width: 275px;
  height: 275px;
  position: relative;
}
.unsplash-d-1-u-pki-fd-04-a2 {
  border-radius: 600px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.frame-1547755334 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  height: 46px;
  position: absolute;
  right: -0.5px;
  left: 0px;
  top: 29px;
}
.user2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label {
  height: 21px;
  position: absolute;
  right: -0.5px;
  left: 0px;
  top: 0px;
}
.name2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-123 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.username {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-user-com2 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.email {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._142-light-st {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.address-default {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-02-2022 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.created-date {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1547755335 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._10-02-2023 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-15-hs {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 130px;
  top: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.last-modificated {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #b2b2b2;
  border-width: 1px;
  height: 46px;
  position: absolute;
  right: 1.5px;
  left: 1px;
  top: 29px;
}
.invoices {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  width: 8.59px;
  height: 16.23px;
  position: absolute;
  left: 517px;
  top: 14px;
  overflow: visible;
}
.choose-invoice {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.orders {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon2 {
  width: 8.59px;
  height: 16.23px;
  position: absolute;
  left: 517px;
  top: 14px;
  overflow: visible;
}
.choose-orders {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.status {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-7046 {
  background: #00b087;
  border-radius: 15.5px;
  width: 33px;
  height: 15px;
  position: absolute;
  left: 493px;
  top: 16px;
}
.span-before {
  background: #cacaca;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 17px;
  top: -3.5px;
}
.choose-status {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tienda-2 {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 11px;
  width: 393.2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon3 {
  width: 8.59px;
  height: 16.23px;
  position: absolute;
  left: 529.41px;
  top: 17.82px;
  transform: translate(-16.23px, 0px);
  overflow: visible;
}
.tienda-asociada {
  color: #1a1a1a;
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
