.store-modal-view-order,
.store-modal-view-order * {
  box-sizing: border-box;
}
.store-modal-view-order {
  background: var(--gris-tabla, #fafafa);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-2087326159 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-2087326207 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2087326206 {
  background: #ffffff;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  height: 719px;
  position: relative;
}
.frame-2087326205 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.products {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.transactions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 176px;
  position: relative;
}
.row {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-1 {
  background: linear-gradient(to left, #94938d, #94938d);
  border-radius: 50%;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
}
.frame-38 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.custom-cup-eye-3 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.both-eyes {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-382 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 0px;
  height: 22px;
  position: relative;
}
.frame-42 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 43px;
  position: relative;
}
._44-99 {
  color: var(--negro-eye, #2b2d22);
  text-align: right;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.custom-t-shirt-eye-1 {
  color: var(--negro-eye, #2b2d22);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: relative;
}
.eye-1 {
  color: var(--gris-eye, #94938d);
  text-align: left;
  font-family: "Fahkwang-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-1547755204 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 318px;
  position: relative;
}
.summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.summary2 {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
._179-96 {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
.delivery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.delivery2 {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
._0 {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
.frame-1547755203 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.total {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._179-962 {
  color: var(--secondary, #080b13);
  text-align: left;
  font-family: "Fahkwang-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.frame-1547755206 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 625px;
  position: relative;
}
.client-info {
  color: #000000;
  text-align: left;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.frame-1547755201 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1547755195 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.john-doe {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755196 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adress {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
._123-fake-street-springfield-usa {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755197 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phone {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
._12345678910 {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755198 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.email {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.john-doe-com {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755199 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.payment-method {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.credit-card-visa-1058 {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.frame-1547755200 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.status {
  color: var(--negro-eye, #2b2d22);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.delivered {
  color: var(--gris-eye, #94938d);
  text-align: center;
  font-family: "Fahkwang-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
